*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* по X */
  align-items: center;     /* по Y */
  background: #f0f0f0;
}

.wrap{
    height: 700px;
    width: 460px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    flex-wrap: nowrap;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 640px;
  width: 400px;
  margin: 30px;
  
}
.top{
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
}
.romen{
    border-radius: 50%;
    width: 155px;
    margin-bottom: 15px;
}
h1{
    font-size: 25px;
}
h2{
    font-size: 15px
}

.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button{
    width: 80%;
    height: 40px;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
button>img{
    width: 25px;
    margin-left: 10px;
}
button>span{
    font-size: 18px;
    font-weight: 600;
}

footer{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
a{
    text-decoration: none;
    color: #000;
}